body {
    font-family: Papyrus, monospace, Arial;
  }
  h3 { color: #365878; font-size: 20px; }
  
  img {
    max-width: 200px;
    max-height:100px;
  }
  
  input, button {
    padding: 5px 10px;
    font-size: 16px;
  }
  input {
    width:90%;
  }
  